@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root,
html,
body,
#root,
.App {
  font-family: "PT Sans", sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}
